* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    Font-size: 18px
}

html, body {
    width: 100%;
    height: 100%;
}




header {
    width: 100%;
    height: 33%;
    background: url(images/bg-main-mobile.png), purple;
    background-size: cover;
}

/*  CARTÕES  */

figure {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;

}

.credit-card-img {
    width: 290px;
    height: 180px;
    margin-top: 80px;
}

.credit-card {
    position: relative;
    color: hsl(0, 0%, 100%);
    
}

.container {
    width: 290px;
    height: 180px;
}

.card-text {
    font-weight: 300;
    font-size: 10px;
}

#card-cvc {
   position: absolute;
    margin-top: -100px;
    font-size: small;
    display: block;
    width: 100px;
    padding-left: 230px;   
    z-index: 3;
}

#cartao-cinza {
    margin-right: -70px;
}

#cartao-roxo {
    margin-left: -50px;
    margin-top: -80px;
}

#card-content {
    position: absolute;
    width: 290px;
    height: 180px;
    box-sizing: border-box;
    padding: 15px;
    z-index: 3;
    top: 180px;
    margin-left: -50px;
}

#image-div-roxo {
    width: 290px;
    height: 180px;
    
}




#card-number {
    margin-top: 35px;
    font-weight: 400;
    letter-spacing: 0.16em;
}

#card-exp {
    float: right;
}

#card-name {
    float: left;
}





/*  FORMS   */



main {
    width: 400px;
    display: grid;
    margin: 70px auto;
}

label {
    color: hsl(278, 68%, 11%);
    font-family: 'Roboto Mono', monospace;
}


.form-control {
    width: 100%;
    border-radius: 8px;
}

.form-control::placeholder {
    color: hsl(270, 3%, 87%);
}

.btn {
    color: white;
    background-color: hsl(278, 68%, 11%);
    height: 50px;
    width: 100%;
}

.btn:hover {
    color: white;
    background-color: hsl(278, 68%, 19%);
}

.btn:active {
    background-color: hsl(278, 68%, 25%);
}

.btn:focus {
    box-shadow: 0 0 0 0 ;
}

.form-control:focus {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 0;
}

#cvc-form-span {
    float: right;
    padding-right: 149px;
    font-family: 'Roboto Mono', monospace;
}

#div-col-1 {
    padding-right: 5px;
}

#div-col-2 {
    padding: 0;
}

#div-col-3 {
    padding-left: 15px;
}

#initial-root {
    width: 0;
    height: 0;
}



/*  DESKTOP LAYOUT  */

@media screen and (min-width: 1000px) { 

    body {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    header {
        width: 100%;
        height: 100%;
        display: inline-block;
        background: white;
        grid-column: 1/span 3;
    }


    

    #fundo-branco-desktop, #fundo-desktop {
        width: 50%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }

    #fundo-desktop {
        background: url(images/bg-main-mobile.png), purple;
        background-size: cover;
    }

    #fundo-branco-desktop{
        left: 50%;
        background-color: white;
    }

    #cartao-roxo {
        margin-top: 0;
        top: 150px;
        z-index: 2;
        position: absolute;
    }

    #cartao-cinza {
        margin-bottom: 0;
        margin-top: 350px;
        z-index: 2;
        position: relative;
    }

    #card-content {
        margin-top: -30px;
        z-index: 2;
    }

    #card-cvc {
        margin-top: -103px;
    }

    #image-div-cinza{
        width: 290px;
        height: 180px;
    }

    

























}